
.header{
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.tabel{
margin: 0 auto;
margin-top: 25px;
text-align: center;
width: 80%;
background-color: white;
}

.htabel{
	background-color: #F5F5DC;


}


#terug{
	margin-left: 50%;
	margin-top: 30px;
	text-align: center;
	
}

.background3{
	background-color: #fefff4;
	height: 100%;
    
}