
.header{
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.tabel{
margin: 0 auto;
margin-top: 50px;
text-align: center;
width: 80%;
}

.htabel{
	background-color: #F5F5DC;


}


#terug{
	margin-left: 50%;
	margin-top: 100px;
	text-align: center;
	
}


